@font-face {
  font-family: "iconfont"; /* Project id 4199409 */
  src: url('//at.alicdn.com/t/c/font_4199409_n9a7a0pxzk.woff2?t=1692886413959') format('woff2'),
       url('//at.alicdn.com/t/c/font_4199409_n9a7a0pxzk.woff?t=1692886413959') format('woff'),
       url('//at.alicdn.com/t/c/font_4199409_n9a7a0pxzk.ttf?t=1692886413959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji1:before {
  content: "\e60c";
}

.icon-zhaoxiangji:before {
  content: "\e615";
}

.icon-yonghu:before {
  content: "\e620";
}

.icon-weizhi:before {
  content: "\e601";
}

.icon-zhongzhi:before {
  content: "\e66a";
}

.icon-xiazai:before {
  content: "\e65a";
}

.icon-zhuye:before {
  content: "\e9d0";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-taiyang:before {
  content: "\e643";
}

.icon-translate:before {
  content: "\eb6f";
}

.icon-shiwutixing-moren:before {
  content: "\ebe1";
}

.icon-yibiaopan:before {
  content: "\e626";
}

.icon-liebiaoye:before {
  content: "\e6e7";
}
