.headNav {
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 5px 0 #000;
  background-color: #fff;
  margin-bottom: 4px;
}
.headNav .headNav-logo {
  display: flex;
  align-items: center;
}
.headNav .headNav-logo .logo {
  width: 16px;
  height: 16px;
}
.headNav .headNav-logo .headNav-logo-name {
  margin-left: 10px;
  font-weight: 600;
}
.headNav .headNav-control {
  display: flex;
  align-items: center;
}
.headNav .headNav-control .headNav-control-icon {
  display: flex;
  align-items: center;
}
.headNav .headNav-control .headNav-control-icon .icons {
  margin-right: 20px;
}
