.headNav {
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 4px;
  margin-top: 20px;
  font-size: 18px;
}
.headNav .headNav-logo {
  display: flex;
  align-items: center;
}
.headNav .headNav-logo .logo {
  width: 16px;
  height: 16px;
}
.headNav .headNav-logo .headNav-logo-name {
  margin-left: 10px;
  font-weight: 600;
}
.headNav .headNav-control {
  display: flex;
  align-items: center;
}
.headNav .headNav-control .headNav-control-icon {
  display: flex;
  align-items: center;
}
.headNav .headNav-control .headNav-control-icon .icons {
  margin-right: 20px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
