.layout {
  height: 100vh;
  background-color: #f7f8fa;
  padding: 0 20px;
}
.layout .menu {
  height: 100%;
  display: flex;
}
.layout .menu .menu-list {
  height: 100vh;
}
.layout .menu .content {
  width: 100%;
}
